<div class="flex flex-col gap-4 h-full p-5">
  <div class="flex gap-4 justify-between items-center">
    <div class="flex flex-col gap-2 items-start">
      <h1 class="text-2xl font-bold">Users</h1>
      <p class="text-gray-400 text-sm">
        Manage your users here. Add, edit, or delete users as needed.
      </p>
    </div>
    <app-modal
      [buttonText]="'Add User'"
      [bgColor]="'gray2'"
      [isOpen]="isModalOpen"
      (close)="onCloseModal()"
      (open)="onOpenModal()"
    >
      <app-add-user-form (save)="addUser($event)"></app-add-user-form>
    </app-modal>
  </div>
  <app-users-table [users]="users | async"></app-users-table>
</div>
