<div class="data-table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Order Date</th>
        <th>Shipping Address</th>
        <th>Payment Method</th>
        <th>Tracking Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (order of paginatedOrders; track order.id) {
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.userId | uppercase }}</td>
        <td>{{ order.totalPrice | currency : "KWD" }}</td>
        <td>{{ order.status | uppercase }}</td>
        <td>{{ order.orderDate | date : "dd/MM/yyyy" }}</td>
        <td>{{ order.shippingAddress | uppercase }}</td>
        <td>{{ order.paymentMethod | uppercase }}</td>
        <td>{{ order.trackingNumber || "N/A" }}</td>
        <td class="flex gap-2">
          <app-modal
            [title]="'Edit Order'"
            [buttonText]="'Edit'"
            [bgColor]="'blue'"
            [isOpen]="isEditModalOpen"
            (close)="onCloseModal()"
            (open)="openEditModal(order)"
          >
            <app-edit-order-form
              [order]="selectedOrder"
              (save)="onEditOrder($event)"
            ></app-edit-order-form>
          </app-modal>
          <app-modal
            [title]="'Delete Order'"
            [buttonText]="'Delete'"
            [bgColor]="'red'"
          >
            <div class="flex flex-col gap-4 py-4">
              <p>Are you sure you want to delete order #{{ order.id }}?</p>
              <button
                (click)="onDeleteOrder(order)"
                class="bg-red-700 text-white px-4 py-2 rounded-md border border-gray-600 hover:bg-gray-600"
              >
                Delete
              </button>
            </div>
          </app-modal>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <div class="flex justify-end items-center gap-2 mt-4">
    <button
      (click)="onPageChange(currentPage - 1)"
      [disabled]="currentPage === 1"
      class="px-3 py-1 rounded-md border border-gray-300 hover:bg-gray-100 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      <
    </button>
    <span class="mx-2"> Page {{ currentPage }} of {{ totalPages }} </span>
    <button
      (click)="onPageChange(currentPage + 1)"
      [disabled]="currentPage === totalPages"
      class="px-3 py-1 rounded-md border border-gray-300 hover:bg-gray-100 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      >
    </button>
  </div>
</div>
