<div class="data-table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Stock</th>
        <th>Status</th>
        <th>Rating</th>
        <th>Created At</th>
        <th>Updated At</th>
        <!-- <th>Tags</th> -->
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (product of paginatedProducts; track product.id) {
      <tr>
        <td>{{ product.id }}</td>
        <td class="flex items-center gap-2">
          <img
            [src]="product.imageUrl"
            [alt]="product.name"
            class="w-10 h-10 rounded-full"
          />
          {{ product.name | uppercase }}
        </td>
        <td>
          {{
            (product.description | slice : 0 : 30) +
              (product.description.length > 30 ? "..." : "")
          }}
        </td>
        <td>
          {{ product.price | currency : "KWD" }}
        </td>
        <td>
          {{ product.category | uppercase }}
        </td>
        <td>
          {{ product.stock }}
        </td>
        <td>{{ product.status | uppercase }}</td>
        <td>{{ product.rating }}</td>
        <td>{{ product.createdAt | date : "dd/MM/yyyy" }}</td>
        <td>{{ product.updatedAt | date : "dd/MM/yyyy" }}</td>
        <td class="flex gap-2">
          <app-modal
            [title]="'Edit Product'"
            [buttonText]="'Edit'"
            [bgColor]="'blue'"
            [isOpen]="isEditModalOpen"
            (close)="onCloseModal()"
            (open)="openEditModal(product)"
          >
            <app-edit-product-form
              [product]="selectedProduct"
              (save)="onEditProduct($event)"
            ></app-edit-product-form>
          </app-modal>
          <app-modal
            [title]="'Delete Product'"
            [buttonText]="'Delete'"
            [bgColor]="'red'"
          >
            <div class="flex flex-col gap-4 py-4">
              <p>Are you sure you want to delete {{ product.name }}?</p>
              <button
                (click)="onDeleteProduct(product)"
                class="bg-red-700 text-white px-4 py-2 rounded-md border border-gray-600 hover:bg-gray-600"
              >
                Delete
              </button>
            </div>
          </app-modal>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <div class="flex justify-end items-center gap-2 mt-4">
    <button
      (click)="onPageChange(currentPage - 1)"
      [disabled]="currentPage === 1"
      class="px-3 py-1 rounded-md border border-gray-300 hover:bg-gray-100 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      <
    </button>
    <span class="mx-2"> Page {{ currentPage }} of {{ totalPages }} </span>
    <button
      (click)="onPageChange(currentPage + 1)"
      [disabled]="currentPage === totalPages"
      class="px-3 py-1 rounded-md border border-gray-300 hover:bg-gray-100 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      >
    </button>
  </div>
</div>
