<div class="data-table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Last Login</th>
        <th>Email Verified</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (user of paginatedUsers; track user.id) {
      <tr>
        <td>{{ user.id }}</td>
        <td class="flex items-center gap-2">
          <img
            [src]="user.avatarUrl"
            [alt]="user.name"
            class="w-10 h-10 rounded-full"
          />
          {{ user.name | uppercase }}
        </td>
        <td>
          {{ user.email }}
        </td>
        <td>
          {{ user.role | uppercase }}
        </td>
        <td>
          {{ user.status | uppercase }}
        </td>
        <td>
          {{ user.createdAt | date : "dd/MM/yyyy" }}
        </td>
        <td>
          {{ user.lastLogin | date : "dd/MM/yyyy" }}
        </td>
        <td>{{ user.isEmailVerified ? "Yes" : "No" }}</td>
        <td class="flex gap-2">
          <app-modal
            [title]="'Edit User'"
            [buttonText]="'Edit'"
            [bgColor]="'blue'"
            [isOpen]="isEditModalOpen"
            (close)="onCloseModal()"
            (open)="openEditModal(user)"
          >
            <app-edit-user-form
              [user]="selectedUser"
              (save)="onEditUser($event)"
            ></app-edit-user-form>
          </app-modal>
          <app-modal
            [title]="'Delete User'"
            [buttonText]="'Delete'"
            [bgColor]="'red'"
          >
            <div class="flex flex-col gap-4 py-4">
              <p>Are you sure you want to delete {{ user.name }}?</p>
              <button
                (click)="onDeleteUser(user)"
                class="bg-red-700 text-white px-4 py-2 rounded-md border border-gray-600 hover:bg-gray-600"
              >
                Delete
              </button>
            </div>
          </app-modal>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <div class="flex justify-end items-center gap-2 mt-4">
    <button
      (click)="onPageChange(currentPage - 1)"
      [disabled]="currentPage === 1"
      class="px-3 py-1 rounded-md border border-gray-300 hover:bg-gray-100 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      <
    </button>
    <span class="mx-2"> Page {{ currentPage }} of {{ totalPages }} </span>
    <button
      (click)="onPageChange(currentPage + 1)"
      [disabled]="currentPage === totalPages"
      class="px-3 py-1 rounded-md border border-gray-300 hover:bg-gray-100 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      >
    </button>
  </div>
</div>
